<template>
    <div class="row mt-3" v-show="visible">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">Loja</label>
                            <input type="text" class="form-control" readonly :value="store">
                        </div>
                        <div class="col-6">
                            <label class="form-label">Caixa</label>
                            <input type="text" class="form-control" v-model="tpaData.caixa">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">ID Tpa</label>
                            <input type="text" class="form-control" v-model="tpaData.id_tpa">
                        </div>
                        <div class="col-6">
                            <label class="form-label">Processo</label>
                            <input type="text" class="form-control" v-model="tpaData.processo">  
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button type="button" class="btn btn-dark" @click="saveTpa">Gravar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AddTpaComponent',
    data: () => ({
        tpaData: {
            caixa: '',
            id_tpa: '',
            processo: ''            
        },
    }),
    props: ['store', 'visible'],
    methods: {
        saveTpa() {
            this.$emit('save', this.tpaData)
        }
    }
}
</script>