<template>
    <div>
        <div class="row mt-5 mx-0">
            <h1 class="text-center display-4">TPA's por Loja</h1>
        </div>
        <div class="row mt-5 mx-0">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <select class="form-select" @change="getTpaData()" v-model="storeData.loja">
                            <option value="" selected disabled>Selecione uma loja...</option>
                            <template v-if="data">
                                <option v-for="(store, index) in data" :key="index" :value="store.codigo">{{store.codigo}} - {{store.descricao}}</option>
                            </template>
                            <template v-else>
                                <option value="">A carregar dados...</option>
                            </template>
                        </select>
                        <button type="button" class="btn btn-dark ms-5" @click="addTpaForm = !addTpaForm">Adicionar</button>
                    </div>

                    <div class="card-footer form-text">
                        <p v-text="info"></p>
                    </div>
                </div>
            </div>
        </div>
        <add-tpa-component 
            v-if="addTpaForm && storeData.loja != ''"
            :store="storeData.loja"
            :visible=addTpaForm
            @save="saveTpa($event)">
        </add-tpa-component>
        <table-component
            :data="tpaData"
            :render="storeData.loja != ''"
            :titles="{
                loja: { title: 'LOJA', type: 'text' },
                caixa: { title: 'CAIXA', type: 'text' },
                id_tpa: { title: 'ID TPA', type: 'text' },
                processo: { title: 'PROCESSO', type: 'text' }
            }">
        </table-component>
    </div>
</template>
<script>
import api from "@/services/api"
import AddTpaComponent from '@/components/tpa/AddTpa.vue'
import TableComponent from '@/components/common/Table.vue'

export default {
    name: 'TpaComponent',
    components: {
        AddTpaComponent,
        TableComponent
    },
    data: () => ({
        token : '',
        cssMissing: '',
        data : null,
        tpaData: [],
        addTpaForm: false,
        storeData: {
            loja: ''          
        },
        info: "Listagem de TPA's registados por loja."
    }),
    methods: {
        getTpaData() {
            api.get('/tpa/'+this.storeData.loja)
            .then(response => {
                if (response.data != null) {
                    this.tpaData = response.data
                } else {
                    this.tpaData = []
                }
            })
        },
        tillExists(store) {
            if (this.tpaData) {
                let exists = false
                this.tpaData.forEach(element => {
                    if(element.caixa == store) {
                       exists = true
                    }
                    
                });
                return exists
            }
        },
        saveTpa(data) {
            if (this.tillExists(this.storeData.loja)) {
                this.emitter.emit('alert', {
                    msg: 'Já existe um ID TPA associado a esta caixa.',
                    type: 'error'
                })
                return false
            }

            if (data.caixa == '' || data.id_tpa == '' || data.processo == '') {
                this.emitter.emit('alert', {
                    msg: 'Preencha todos os campos.',
                    type: 'error'
                })
                return false
            }
            data.loja = parseInt(this.storeData.loja)
            data.caixa = parseInt(data.caixa)
            
            api.post('/tpa')
            .then( () => {
                this.getTpaData()
            })
        },
    },
    mounted() {
        api.get('/stores')
            .then(response => {
                this.data = response.data
            })
    } 
}
</script>

<style scoped>
    .missing {
        border-color: red;
    }
</style>