<template>
    <div>
        <div class="row mt-5 mx-0">
            <h1 class="text-center display-4">Documentos AT</h1>
        </div>
        <div class="row mt-5 mx-0">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-header">
                         <div class="row">
                            <div class="col d-flex justify-content-start">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="atLastDocs" v-model="report" checked v-on:change="setInfo(report)">
                                    <label class="form-check-label">Últimos documentos integrados</label>
                                </div>
                                <div class="form-check ms-3">
                                    <input class="form-check-input" type="radio" value="allNotSent" v-model="report" v-on:change="setInfo(report)">
                                    <label class="form-check-label">Documentos por integrar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="card-body d-flex justify-content-around">
                        <input type="number" class="form-control" :placeholder="placeholder" v-model="param" required min="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        <button type="button" class="btn btn-dark ms-2" @click="getData">Listar</button>
                    </div>

                    <div class="card-footer form-text">
                        <p v-text="info"></p>
                    </div>
                </div>
            </div>
        </div>
        <table-component
            :data="atDocData"
            :render="atDocData.length > 0 || empty"
            :titles="titles">
        </table-component>
    </div>
</template>
<script>
import axios from "axios"
import Cookies from 'js-cookie'
import TableComponent from '@/components/common/Table.vue'

export default {
    name: 'ATLastDocComponent',
    components: {
        TableComponent
    },
    data: () => ({
        token: '',
        report: 'atLastDocs',
        placeholder: '',
        param: '',
        atDocData: [],
        empty: false,
        titles: {},
        info: ''
    }),
    mounted() {
        this.token = Cookies.get('DATA')
        this.setInfo(this.report)
    },
    methods: {
        getData() {
            if (this.report != '') {
                let url = ''
                
                if (this.report == 'atLastDocs') {
                    url = 'http://localhost:3000/atLastSentDoc/'
                    this.titles = {
                        loja: { title: 'LOJA', type: 'text'},
                        unidade: { title: 'ID UNIDADE', type: 'text'},
                        id_local: { title: 'ID LOCAL', type: 'text'},
                        nome: { title: 'NOME', type: 'text'},
                        documento: { title: 'DOCUMENTO', type: 'text'},
                        serie: { title: 'SÉRIE', type: 'text'},
                        numero: { title: 'NÚMERO', type: 'text'},
                        data_hora: { title: 'DATA/HORA', type: 'date'}
                    }
                } else if (this.report == 'allNotSent') {
                    url = 'http://localhost:3000/missingDocsAT/'
                    this.titles = {
                        loja: { title: 'LOJA', type: 'text'},
                        unidade : { title: 'UNIDADE', type: 'text'},
                        id_local: { title: 'ID LOCAL', type: 'text'},
                        documento: { title: 'DOCUMENTO', type: 'text'},
                        serie: { title: 'SÉRIE', type: 'text'},
                        nao_enviados: { title: 'NÃO ENVIADOS', type: 'text'},
                    }
                }

                let param = 0
                if (this.param != '') {
                    param = this.param
                }

                axios.get(url+param, { 
                    headers: { 'Authorization': `Bearer ${this.token}` } 
                })
                .then(response => {
                    if (response.data != null) {
                        this.atDocData = response.data
                        this.empty = false
                    } else {
                        this.empty = true
                        this.atDocData = []
                    }
                })
            }
        },
        setInfo(report) {
            if (report == 'allNotSent') {
                this.placeholder = 'Número da Loja'
                this.info = 'Listagem do número de documentos por integrar na AT, por loja.'
            }

            if (report == 'atLastDocs') {
                this.placeholder = 'Número da Unidade'
                this.info = 'Listagem dos últimos documentos integrados na AT, por unidade, caso existam documentos por enviar.'
            }
        }   
    }
}
</script>