<template>
  <router-view/>
</template>
<script>
import AuthService from '@/services/auth.service'
import EventBus from "@/common/EventBus"

export default {
  methods: {
    logOut() {
      AuthService.logout();
      this.$router.push('/');
    }
  },
  mounted() {
    EventBus.on("logout", () => {
      this.logOut();
    });
  },
  beforeUnmount() {
    EventBus.remove("logout");
  }
}
</script>