<template>
    <div>
        <div class="row mt-5 mx-0">
            <h1 class="text-center display-4">Listagem de Vendas em Falta</h1>
        </div>
        <div class="row mt-5 mx-0">
            <div class="col-6 offset-3">
                <div class="card">
                    <div class="card-body d-flex justify-content-around">
                        <input type="number" class="form-control" placeholder="Ano" v-model="year" required min="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        <button type="button" class="btn btn-dark ms-2" @click="getMissingSales">Listar</button>
                    </div>

                    <div class="card-footer form-text">
                        <p v-text="info"></p>
                    </div>
                </div>
            </div>
        </div>
        <table-component
            :data="salesData"
            :render="salesData.length > 0"
            :titles="{
                nome_unidade: { title: 'NOME UNIDADE', type: 'text' },
                loja: { title: 'LOJA', type: 'text' },
                unidade: { title: 'UNIDADE', type: 'text' },
                id_local: { title: 'ID LOCAL', type: 'text' },
                documento: { title: 'DOCUMENTO', type: 'text' },
                serie: { title: 'SÉRIE', type: 'text' },
                ultimo_doc_eurest: { title: 'ÚLT. DOC. EUREST', type: 'text' },
                ultima_comunicacao: { title: 'ÚLT. COMUNICAÇÃO', type: 'data' },
                ultimo_doc_dc: { title: 'ÚLT. DOC. DC', type: 'text' },
                data_ultimo_doc_dc: { title: 'DATA ÚLT. DOC. DC', type: 'data' },
                falta: { title: 'FALTAM', type: 'text' },
                last_update: { title: 'LAST UPDATE', type: 'data' },
                estado: { title: 'ESTADO', type: 'text' },
            }">
        </table-component>
    </div>
</template>

<script>
import axios from "axios";
import Cookies from 'js-cookie'
import TableComponent from '@/components/common/Table.vue'

export default {
    name: 'SalesComponent',
    components: {
        TableComponent
    },
    data: () => ({
        token: '',
        year: '',
        salesData: [],
        info: 'Listagem de documentos por integrar na Eurest.'
    }),
    methods: {
        getMissingSales() {
            axios.get(
                'http://localhost:3000/missingSales/'+this.year, 
                { headers: { 'Authorization': `Bearer ${this.token}` } }
            )
            .then(response => {
                this.salesData = response.data
                console.log(response)
                console.log(this.salesData)
            })
        }
    },
    mounted() {
        this.token = Cookies.get('DATA')
    }
}
</script>