<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <router-link class="navbar-brand" :to="{ name: 'home'}">Eurest Utils</router-link>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'tpa' }">TPA's</router-link>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Listagens
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><router-link class="dropdown-item" :to="{ name: 'sales' }">Vendas</router-link></li>
                        <li><router-link class="dropdown-item" :to="{ name: 'atlastdoc' }">Documentos AT</router-link></li>
                        <li><a class="dropdown-item" href="#">Versões</a></li>
                    </ul>
                </li>
            </ul>
            <button class="btn btn-light" type="submit" @click="logout">Sair</button>
            </div>
        </div>
        </nav>
        <alert-component v-if="showAlert" :msg="alert.msg" :type="alert.type"></alert-component>
        <router-view></router-view>
    </div>
</template>

<script>
import Cookies from 'js-cookie'
import AlertComponent from '@/components/common/Alert.vue'
export default {
    name: 'HomeView',
    components: {
        AlertComponent
    },
    data: () => ({
        showAlert: false,
        alert: { msg: '', type: ''}
    }),
    methods: {
        logout() {
            Cookies.remove('DATA')
            this.$router.push({ name: 'login' })
        }
    },
    mounted() {
        this.emitter.on('alert', (a) => {
            this.alert = a
            this.showAlert = true
            setTimeout(() => this.showAlert = false, 4000)
        })
    }
}
</script>