<template>
	<div>
		<div class="row mt-5 mx-auto">
			<div class="col-6 offset-3 text-center">
				<img class="mb-2" src="/img/logo_zs.png" alt="" width="200" height="200">
			</div>
		</div>
		<div class="row">
			<div class="col-6 offset-3">
				<div class="card">
					<div class="card-header">
						<h2>Eurest Utils</h2>
					</div>
					<div class="card-body">
						<div class="mb-3">
							<label class="form-label">NIF</label>
							<input type="text" class="form-control" readonly v-model="nif">
							<div class="form-text">Número de contribuinte.</div>
						</div>
						<div class="mb-3">
							<label class="form-label">Nome Utilizador</label>
							<input type="text" class="form-control" v-model="username">
							<div class="form-text">Utilizador usado no acesso ao ZSBMS.</div>
						</div>
						<div class="mb-3">
							<label class="form-label">Password</label>
							<input type="password" class="form-control" v-model="password">
							<div class="form-text">Password utilizada no acesso ao ZSBMS.</div>
						</div>
					</div>
					<div class="card-footer text-end">
						<button type="button" class="btn btn-primary" @click="login">Entrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import api from "@/services/api"
import { mapMutations } from "vuex"
import TokenService from '@/services/token.service'

export default {
	name: 'LoginView',
	data: () => ({
		nif: '500347506',
		username: '',
		password: ''
	}),
	methods: {
		...mapMutations(["setUser", "setToken"]),
		login() {
			api
				.post('/login', {
					username: this.username,
					password: this.password
				})
				.then( response => {
					if (response.data.token) {
						TokenService.setUser(response.data);
						this.$router.push({ name: 'home'})
					}
					// this.setUser(response.data.username)
					// this.setToken(response.data.token)
					
					// const token = response.data.token
					// Cookies.set('DATA', token, { secure: true, sameSite: 'Lax' })
					// 
				})
				.catch(function (error) {
					console.log(error)
				})
		}
	}
}
</script>
