<template>
    <div :class="alertStyle" role="alert" v-text=msg></div>
</template>
<script>
export default {
    name: 'AlertComponent',
    props: {
        msg: String,
        type: String,
    },
    computed: {
        alertStyle() {
            switch(this.type) {
                case 'error': return 'alert alert-danger'
                case 'success': return 'alert alert-success'
                default: return 'alert alert-success'
            }
        }
    }
}
</script>