<template>
    <div class="row mt-5" v-if="render">
        <div class="col-12 mx-auto" style="width: 80%">
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col" v-for="(t, key) in titles" :key="key">{{ t.title }}</th>
                    </tr>
                </thead>
                <tbody v-show="data.length > 0">
                    <tr v-for="(obj, key) in filterData" :key="key">
                        <td v-for="(value, key) in obj" :key="key">
                            <span v-if="titles[key].type == 'text'">{{ value }}</span>
                            <span v-if="titles[key].type == 'data'">{{ $filters.formatDateTime(value) }}</span>
                        </td>   
                    </tr>
                </tbody>
                <tbody v-show="data.length == 0">
                    <tr >
                        <td :colspan="Object.keys(titles).length">Não existem TPA's registados para esta loja!</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TableComponent',
    props: ['data', 'render', 'titles'],
    computed: {
        filterData() {
            let fields = Object.keys(this.titles)
            let filterData = []

            this.data.map((item) => {
                let filteredItem = {}
                fields.forEach(field => {
                    filteredItem[field] = item[field]
                })
                filterData.push(filteredItem)
            })
            return filterData
        }
    },
}
</script>