{{ define "sidebar"}}

<div class="border-end bg-white" id="sidebar-wrapper">
	<div class="sidebar-heading border-bottom bg-light"><strong>Eurest Utils</strong></div>
	<div class="list-group list-group-flush">
		<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/missingSales">Vendas em Falta</a>
		<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/missingDocsAT">Documentos em Falta AT</a>
		<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/tpa">TPA's</a>
	</div>
</div>

<script src="/assets/js/sidebars.js"></script>


{{ end }}