<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <link href="/assets/css/styles.css" rel="stylesheet" />
    <title>EurestUtils | Venda em Falta</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        {{ template "sidebar" . }}
        <div id="page-content-wrapper">
            {{ template "navbar" }}
            <div class="container-fluid mt-5">
                
                <div class="row justify-content-start ms-5">
                    <p>Ano</p>
                    <div class="col-4">
                            <input type="number" class="form-control" id="year"  required min="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary no-modal" onclick="GetMissingSales()">Listar</button>
                    </div>
                </div>

                <div class="row mt-5 mx-5">
                    <div class="col">
                        <table class="table" id="missingSales" style="display:none;">
                            <thead>
                                <tr scope="row">
                                    <th>Loja</th>
                                    <th>Unidade</th>
                                    <th>ID Local</th>
                                    <th>Documento</th>
                                    <th>Série</th>
                                    <th>Último Documento Eurest</th>
                                    <th>Última Comunicação</th>
                                    <th>Último Documento DC</th>
                                    <th>Data/Hora Últ. Doc. DC</th>
                                    <th>Em Falta</th>
                                    <th>LastUpdate</th>
                                    <th>Estado</th>
                                    <th>Nome Unidade</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{ template "scripts" }}
    <script src="/assets/js/sales.js"></script>
</body>
</html>