<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <link href="/assets/css/styles.css" rel="stylesheet" />
    <title>EurestUtils | Documentos em Falta AT</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        {{ template "sidebar" . }}
        <div id="page-content-wrapper">
            {{ template "navbar" }}
            <div class="container-fluid mt-5">
                
                <div class="row justify-content-start ms-5">
                    <p>Loja</p>
                    <div class="col-4">
                        <select class="form-select" aria-label="Default select example" id="stores" onchange="GetMissingDocsATByStore()">
                            <option value=0 selected>Todas</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary no-modal" onclick="GetMissingDocsAT()">Listar</button>
                    </div>
                </div>

                <div class="row mt-5 mx-5">
                    <div class="col">
                        <table class="table" id="missingDocsAT" style="display:none;">
                            <thead>
                                <tr scope="row">
                                    <th>Loja</th>
                                    <th>Unidade</th>
                                    <th>ID Local</th>
                                    <th>Documento</th>
                                    <th>Série</th>
                                    <th>Não Enviados</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{ template "scripts" }}
    <script src="/assets/js/stores.js"></script>
    <script src="/assets/js/sales.js"></script>
</body>
</html>