<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
    <link href="/assets/css/styles.css" rel="stylesheet" />
    <title>EurestUtils | TPA</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        {{ template "sidebar" . }}
        <div id="page-content-wrapper">
            {{ template "navbar" }}
            <div class="container-fluid mt-5">
                
                <div class="row justify-content-start ms-5">
                    <p>Loja</p>
                    <div class="col-4">
                        <select class="form-select" aria-label="Default select example" id="stores" onchange="GetTpaContractsByStore()">
                            <option value=0 selected>Selecione uma loja...</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-primary no-modal" onclick="openAddTPAModal()">Adicionar TPA</button>
                    </div>
                </div>

                <div class="row mt-5 mx-5">
                    <div class="col">
                        <table class="table" id="tpaContracts" style="display:none;">
                            <thead>
                                <tr scope="row">
                                    <th>Loja</th>
                                    <th>Caixa</th>
                                    <th>Processo</th>
                                    <th>ID TPA</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="modalAddTPA" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Adicionar TPA</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3 row">
                                    <label for="store" class="col-sm-2 col-form-label">Loja</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="store">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="caixa" class="form-label">Caixa</label>
                                    <input type="number" class="form-control" id="caixa"  min="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                </div>
                                <div class="mb-3">
                                    <label for="processo" class="form-label">Processo</label>
                                    <input type="number" class="form-control" id="processo"  min="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                </div>
                                <div class="mb-3">
                                    <label for="idTpa" class="form-label">ID TPA</label>
                                    <input type="number" class="form-control" id="idTpa" min="0" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" id="submit" onclick="saveTPA()">Gravar</button>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{ template "scripts" }}
    <script src="/assets/js/stores.js"></script>
    <script src="/assets/js/tpa.js"></script>
</body>
</html>